html, body {
  font-family: Neou-thin;
  height: 90%;
  width: 100%;
  margin: 2%;
  padding: 0;
}

.projectTitle {
  top: 50%;
  left: 50%;
}

#regions_div{
  height: 90%;
  width: 80%;
}

.sectionOne {
  background-color: white;
  height: 65%;
  width: 60%;
}

.textBox{
  height: 15%;
  width: 100%;
  margin-top: 2%;
}

header {
  width: 15%;
  color: black;
  margin: 0% 0% 0% 2%;
  font-size: 10px;
  align: left;
}

#resetButton {
  margin: 1% 0% 0% 2%;
  font-family: Neou-thin;
  font-size: 10px;
  height: 2%;
}

.popData{
  height: 65%;
  width: 100%;
  margin-top: 2%;
}

.calculations {
  height: 65%;
  width: 100%;
  margin: 1%;
}

.populationLand {
  height: 60%;
  width: 40%;
  background-color: pink;
  margin-right: 2%;
  float: left;
}

.populationLand p {
  text-align: justify;
  margin: 1%;
}

.populationBuilding {
  height: 60%;
  width: 40%;
  background-color: pink;
  margin-right: 2%;
  display: inline-block;
}

.populationBuilding p {
  text-align: justify;
  margin: 1%;
}

.populationStories {
  height: 60%;
  width: 40%;
  background-color: pink;
  margin-right: 2%;
  display: inline-block;
}

.populationStories p {
  text-align: justify;
  margin: 1%;
}

/*footer{
  position: fixed;
  bottom: 0;
}*/
