html, body {
  font-family: Neou-thin;
  height: 90%;
  width: 100%;
  margin: 2%;
  padding: 0;
}

.projectTitle {
  top: 50%;
  left: 50%;

}
#visualization{
  /*margin:1%;*/
}

#regions_div{
  height: 90%;
  width: 80%;
}

.sectionLeft{
  height: 100%;
  padding: 5%, 5%, 0%, 8%;
  float: left;
}

/*.sectionRight{
  height: 100%;
  width: 20%;
  border: 1px solid #d8dad8;
  border-radius: 2px;
  float:left;
  padding-left: 5%;
}*/

.textBox{
  height: 65%;
  width: 100%;
  margin-top: 2%;
  float: left;
}

/*footer{
  position: fixed;
  bottom: 0;
}*/
